# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Persisted Data
dist/
build/
*.egg-info/

# Local Data
#data/
*.db
*.sqlite3
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
